body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border: 2px solid #d00000 ;
    border-radius: 10px;
}

.card {
    width: 350px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    text-align: start;
    background: #00171f;
    color: #007ea7 ;
    border: 6px double #d00000;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.details {
    width: 180px;
    color: #00a7e1;
    
}

.border-blue {
    border: 1px double blue;
}
.color{
    color: #d00000;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

